<!DOCTYPE html>
<html ng-app="Proxy">

<head>
    <base href="/">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>YouTube Video Player</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
	
	function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}
	</script>
    

    <style>
        html,
        body,
        .main-container {
            height: 100%;
        }

        body {
            background-color: whitesmoke;
        }
    </style>
</head>



<body ng-controller="ProxyController">
   
   <p> New done ::{{lnk}} </p>
<p>New donw:: {{my}}</p>
{{ searchView(my) }}

   
<script>
var app = angular.module('Proxy', function($scope, $location));
app.controller('ProxyController', function($scope) {
    $scope.lnk = "Volvo";
    $scope.my = $location.search().param1; 
});
</script>





    

</body>

</html>
