<!DOCTYPE html>
<html>

<head>
    <base href="/">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>YouTube Video Player</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-cookies.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
	
	function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}
	</script>
	
	<script>

        var app = angular.module('Proxy', []);
app.controller('ProxyController', function($scope) {
    $scope.my='test';
    $scope.lnk = getUrlVars()["x"];
     });
	 


</script>
<script>
var app = angular.module('Proxy', ["ngCookies"]);

app.controller('ProxyController', function($scope, $http, $cookies) {
    $scope.loading = false;

    if ($cookies.getObject('dmhackerYoutube')) {
        var dmhackerYoutube = $cookies.getObject('dmhackerYoutube');
        $scope.history = dmhackerYoutube.history;
    } else {
        $scope.history = [];
    }

    $scope.view = function () {
        $scope.loading = true;
        var id = $scope.ytLink;
        $http({
            method: 'GET',
            url: '/target/'+id
        }).then(function (resp) {
            if (resp.data.state === 'success') {
                $scope.history.unshift(resp.data.info);
                $scope.save();
                window.location.href = resp.data.link;
            }
            else {
                Materialize.toast(resp.data.message || 'That video does not exist!', 4000);
                $scope.loading = false;
            }
        }, function (resp) {
            Materialize.toast(resp.data.message || 'An error occurred during processing.', 4000);
            $scope.loading = false;
        });
    };

    $scope.me = function() {
        $scope.loading = true;
        var query = $scope.ytSearch;
        $http({
            method: 'GET',
            url: '/search/'+query
        }).then(function (resp) {
            if (resp.data.state === 'success') {
                $scope.history.unshift(resp.data.info);
                $scope.save();
                window.location.href = resp.data.link;
            }
            else {
                Materialize.toast(resp.data.message || 'That video does not exist!', 4000);
                $scope.loading = false;
            }
        }, function (resp) {
            Materialize.toast(resp.data.message || 'An error occurred during processing.', 4000);
            $scope.loading = false;
        });
    };

    $scope.save = function () {
        var now = new Date(),
            exp = new Date(now.getFullYear(), now.getMonth() + 6, now.getDate());

        $cookies.putObject('dmhackerYoutube', {
            history: $scope.history
        }, {
            expires: exp
        });
    };

    $scope.clear = function () {
        $cookies.remove('dmhackerYoutube');
        $scope.history = [];
    };
});



</script>
    <style>
        html,
        body,
        .main-container {
            height: 100%;
        }

        body {
            background-color: whitesmoke;
        }
    </style>
</head>



<body ng-app="Proxy">

<div ng-controller="ProxyController">


{{me('oVA6Ogqg1Po')}}



  
</div>




    

</body>

</html>
